footer {
  border-top: 1px dashed currentColor;
  padding: 1rem;
}

header {
  padding: 1rem;
  line-height: 1.1;
  border-bottom: 1px dashed currentColor;

  display: flex;
  flex-direction: row;
  align-items: center;

  & h1 {
    font-size: 16px;
  }
}

@media (min-width: 577px) {
  .header {
    padding: 1.2rem;

    & h1 {
      font-size: 24px;
    }
  }
}
