.card {
  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  border: 1px solid #eaeaea;

  overflow: hidden;

  & * {
    text-decoration: none;
    color: black;
  }

  & img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;

    margin: -0.5rem -0.5rem -0.5rem 0;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.content {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;

  & > span:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
  }

  & > span:nth-child(2) {
    font-size: 0.9rem;
    font-variant-numeric: proportional-nums;
    display: block;
  }
}

.actions {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
