.button {
  border-radius: 0.25rem;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;

  &:hover:not(:disabled) {
    transition: background 0.3s;
    background: #333333;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
