* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background: #eaeaea;
}

main > * {
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
}

header nav {
  display: flex;

  flex-direction: column;
  align-items: start;

  padding: 0.5rem 1rem;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding: 1rem;
}
