* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background: #eaeaea;
  /* Font sans. Use platform (apple, etc) */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

main > * {
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

header nav {
  display: flex;

  flex-direction: column;
  align-items: start;

  padding: 0.5rem 1rem;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;

  --main-gap: 2rem;
  gap: var(--main-gap);

  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
  header nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;

    & > :nth-child(2) {
      order: 3;
      flex-grow: 1;
    }

    & > :not(:nth-child(2)) {
      width: calc((100% - var(--main-gap)) / 2);
    }
  }

  footer {
    flex-direction: row;
  }

  .md\:ml-auto {
    margin-left: auto;
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
    flex-wrap: nowrap;
    align-items: start;

    & > :nth-child(2) {
      order: initial;
      flex-grow: initial;
    }

    & > :not(:nth-child(2)) {
      flex-shrink: 1;
      width: min-content;
      min-width: 250px;
    }
  }
}
